  <div class="site-wrapper">
​​
    <div class="container">
​
​
​
      <section id="banner">
        <div class="inner">
          <h1 class="cover-heading">FLEX OVER FLOW</h1>
          <p class="lead">We're a coding community that helps you get those unsolved questions answered. We even
            provide
            you with interview questions that you can view and get familiar with.
          </p>
        </div>
      </section>
​
​
​
      <p class="lead">
        <a href="signup.html" class="get-started">
          <span></span>
          <span></span>
          <span></span>
          Get Started
        </a>
      </p>
    </div>

​​
​
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup2.js"></script>
​  </div>