<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">

      {{!--       
      <div class="masthead clearfix">
        <div class="container inner">
          <nav>
            <ul class="nav masthead-nav">
              <li class="center"><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div> --}}


      <section id="banner">
        <div class="inner">
          <h1 class="cover-heading">FLEX OVER FLOW</h1>
          <p class="lead">We're a coding community that helps you get those unsolved questions answered. We even provide
            you with interview questions that you can view and get familiar with.
          </p>
        </div>
      </section>


      {{!-- google authorization button --}}
      <p class="lead">
     <a href="/public/signup.html" class="get-started">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Get Started
        </a>
      </p>
    </div>
  </div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>


<br>
</div>
</div>

</div>