body{
   background-color: #0b132b;
   background-image: url(../../images/allbg.jpeg);
   background-size: cover;
   background-repeat: none;
   font-family: 'Lato', sans-serif;
   font-size: 20px;
   min-height: 100vh;
}

.slidercard {
   padding: 15px;
   border-width: .2px;
   border-style: solid;
}

.about{
   margin: auto;
   text-align: center;
   color: white;
   padding: 10px;
   max-width: 70ch;
}

h1 {
   font-family: 'Exo', sans-serif;
   color: yellow;
   font-size: 31px;
   margin: 20px;
}

li {
   padding-left: 490px;
   text-align: left;
}

h2{

   font-size: larger;
   font-family: 'Exo', sans-serif;
   color: yellow;
   font-size: 31px;
}

h3{
   font-family: 'Exo', sans-serif;
   color: yellow;
   font-size: 27px;
   text-align: center;
   margin-top: 60px;
}

.scroll {
   max-height: 220px;
   overflow-y: auto;
}

.technologies {
   font-family: 'Exo', sans-serif;
      font-size: 20px;
}

.team {
  color: black;
}

.card {
  margin: 10px;
}

 .card-group {
    margin: 15px;
 }

 .card-title{
    font-size: larger;
 }
 .card-description{
    font-size: large;
 }

 .italicize {
    font-style: italic;
 }

 .card-text {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
  color: black;
 }

 .card-description {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
 }
