body {
    color: white;
    background-image: url(../../images/allbg.jpeg);
    background-size: cover;
    min-height: 100vh;
}
.site-width-limit {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.question-section {
   
    width: 95%;
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 8%;
    padding: 3% 1% 3% 1%;
}

#all-questions {
    justify-content: center;
    align-items: center;
    display: block;
}



.question-input {
    height: 93px;
}

.question-input-back {
    height: 115px;
}

.question-title {
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    color: black;
    margin-right: 5%;
}

.list-group{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: bold;
} 

.question-line{
    width: 80%;
    margin-left: 9%;
    background-color: white;
    border: 1px solid;
    border-color: black;
    border-radius: 4px;
    margin-bottom: 2%;
    padding: 2%;
}

.comment-delete {
    float: right;

}

.answer-box {
    margin-left: 20%;
    padding: 1%;
}

.new-answer {
    padding: 2%;
    border: 1px solid;
    border-radius: 4px;
    margin-left: 50%;
    margin-bottom: 2%;
    width: 40%;
    text-align: right;
    display:inline-block;
}