html{
    background-color: #0B132B;
}

.site-wrapper {
    background-color: #0B132B;
}

/* Intro Message */
#banner{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 240px;
    /* height: 100vh; */
    /* background: #050801; */
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    color: #6FFFE9;
}


.get-started { 
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    padding: 25px 10px;
    margin: 40px 0;
    color: #ffea00;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}


.get-started:hover{
    background: #ffea00;
    color: #050801;
    box-shadow: 0 0 5px #ffea00,
                0 0 25px #ffea00,
                0 0 50px #ffea00,
                0 0 200px #ffea00;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.get-started:nth-child(1){
    filter: hue-rotate(270deg);
}
.get-started:nth-child(2){
    filter: hue-rotate(110deg);
}
 span{
    position: absolute;
    display: block;
}
 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#ffea00);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ffea00);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
 span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#ffea00);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#fff700);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }

}




@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
    body {
      background: #ccc;
    }
  }
