.site-width-limit {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    line-height: 60px;    
    color: #ffea00;
    display: flex;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Ruda', sans-serif;   
}

.navtitle {
    font-family: 'Chakra Petch', sans-serif;
    font-style: italic;
}
<<<<<<< HEAD
nav {
    position: initial;
    width: 100%;
    line-height: 60px;
    width: 100%;
    height: 9vh;
    border-bottom: slategray;
    border-width: 2px;
    font-family: 'Poppins', sans-serif;
=======

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
}

.menu-item {
    padding: 1rem;
}

.main-nav {
    display: flex;
    line-height: 60px;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    margin: 0px 50px;
>>>>>>> cc6459a4d68e99e6311407f1438452d7c0477840
}

nav ul {
    line-height: 70px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    color: black;
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu {
    width: 100%;
<<<<<<< HEAD
    background: white;
    text-align: right;
    box-sizing: border-box;
    /* padding: 15px 24px; */
    cursor: pointer;
    color: #fff;
    /* display: none; */
}
=======
}

a:hover{
    color: #fff700;
    }
>>>>>>> cc6459a4d68e99e6311407f1438452d7c0477840
