body {
    font-family:'Poppins', sans-serif;
    color: white;
    background-image: linear-gradient(to left top, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    text-align: center;
}

.modaltext {
    color: black;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: yellow;
    font-size: 30px;
}

body {
    margin-bottom: 100px;
}

p {
    color: white
}


.p-body {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    border-style: solid;
    border-color: white;
    border-width: .75px;
}

.linecont {
    margin-left: 100px;
    margin-right: 100px;
}



.card-title {
    margin-bottom: 17px;
    margin-top: 40px;
    text-decoration: underline;
    color: yellow;
    letter-spacing: 3px;
}

.card-text {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.card-body-2 {
    margin-bottom: 50px;
}
.u-body {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.wireframe {
    margin: auto;
    justify-content: center;
    padding-top: 50px;
}

.modalbox {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.modalcover {
    height: 200px;
}

.modalimage-1 {
    height: 400px;
    justify-content: center;
    padding-bottom: 20px;
}

.modalimage-2 {
    height: 380px;
    justify-content: center;
    padding-bottom: 20px;
}
.modal-dialog {
    width: 800px;
}

.modaltext {
   text-align: center;
}

.portfolio-caption-heading {
    margin-top: 15px;
}