body, h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: #6fffe9;
    background-color: #0B132B;
    text-align: center;
}

h1 {
    font-family: 'Monda', sans-serif;
    text-shadow: 2px 2px darkblue;
    font-style: italic;
    color: #6FFFE9;
    font-size: 30px;
}

body {
    margin-bottom: 100px;
}

p {
    color: #3A506B
}

.pback {
    background-color: #1c2541;
}

.p-body {
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
    border-style: solid;
    border-color: white;
    border-width: .75px;
}

.column {
    float: left;
    width: 50%;

}


.card-title {
    margin-bottom: 17px;
    margin-top: 40px;
    text-decoration: underline;
    color: #5BC3EB;
    letter-spacing: 3px;
    text-shadow: 1px 1px #BFD7FF;
}

.card-text {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.u-body {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.wireframe {
    margin: 50px;
}

.modalbox {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.modalcover {
    height: 200px;
}

.modalimage-1 {
    height: 400px;
    justify-content: center;
    padding-bottom: 20px;
}

.modalimage-2 {
    height: 380px;
    justify-content: center;
    padding-bottom: 20px;
}
.modal-dialog {
    width: 800px;
}

.modaltext {
   text-align: center;
}

.portfolio-caption-heading {
    margin-top: 15px;
}