body {
    font-family: 'Lexend Deca', sans-serif;
    background-image: linear-gradient(to left top, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
}
.content {
    margin-left: 50px;
    margin-right: 130px;
    margin-bottom: 40px;
}


.label {
    margin-bottom: 40px;
    margin-top: 40px;
    text-decoration: underline;
    color: white;
    letter-spacing: 3px;
}

.prompt{
    font-family: 'Poppins', sans-serif;
 
    color: white;
    font-size: 27px;
}
#answer, #example {
    color: white;
    font-size: 18px;
    text-align: left;
    
}
#question {
    color: white;
    font-size: 21px;
    font-weight: bold;
     
}

h1{
    font-size: larger;
  color:white;
  font-family: 'Poppins', sans-serif
}

#new-question {
    background-color: #CEEDDB;
    border: white;
    color: #304C89;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1.5s;
    font-family: 'Lexend Deca', sans-serif;

}
#new-question:hover{
    box-shadow: 0 8px 20px 0 #B4CEB3 inset, 0 8px 20px 0 #B4CEB3;
}

#answer-button {
    background-color: #F6F5AE;
    border: white;
    color: #304C89;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.5s;
    font-family: 'Lexend Deca', sans-serif;

}
#answer-button:hover{
    box-shadow: 0 8px 20px 0 #FAF3DD inset, 0 8px 20px 0 #FAF3DD;
}


.logo {
    line-height: 60px;
    position: initial;
    float: left;
    margin: 16px 46px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Lexend Deca', sans-serif;
}
