.bar {
  margin-top: 10px;
}

#back{
    position: absolute;
    /*width: 100vw;
    height: 100vw;*/
    background-color: black;
    z-index: 1000;
  }
  
  #loadLineleft {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 10000;
    width: 400px;
    height: 10px;
    /*background-color: #9900cc;*/
    background-color: black;
    animation-name: loadLineLeft;
    animation-duration: 5s;
  }
  
  
  /*line animation*/
  
  @keyframes loadLineLeft {
    50% {
      transform: scale(-1.001, 1);
    }
  }
  
  
  /*line animation frames*/
  
  #line {
    width: 400px;
    height: 10px;
    background-color: #ffea00;
    z-index: 1000;
    
  }
  
  
  /*black underline*/
  
  .button-container .button {
    width: 100%;
    height: 50px;
    border-spacing: 5px;
    font-size: 40px;
    color: #ffea00;
    z-index: 1000;
  }
  
  /*Letter animation and animation frames*/
  
  #a0 {
    position: absolute;
    padding: 50 15px 0 20px;
    animation-name: L;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes L {
    0% {
      transform: translateY(0%)
    }
    35% {
      transform: translateY(-100%)
    }
    45% {
      transform: translateY(0%)
    }
    50% {
      transform: translateY(-40%)
    }
    55% {
      transform: translateY(-20%)
    }
    70% {
      transform: translateY(0%)
    }
  }
  
  #a1 {
    position: absolute;
    padding: 0 7px 0 25px;
    animation-name: O;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes O {
    0% {
      transform: translateY(0%)
    }
    39% {
      transform: translateY(-100%)
    }
    49% {
      transform: translateY(0%)
    }
    54% {
      transform: translateY(-40%)
    }
    59% {
      transform: translateY(-20%)
    }
    74% {
      transform: translateY(0%)
    }
  }
  
  #a2 {
    position: absolute;
    padding: 0 15px 0 50px;
    animation-name: A;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes A {
    0% {
      transform: translateY(0%)
    }
    40% {
      transform: translateY(-100%)
    }
    50% {
      transform: translateY(0%)
    }
    55% {
      transform: translateY(-40%)
    }
    60% {
      transform: translateY(-20%)
    }
    75% {
      transform: translateY(0%)
    }
  }
  
  #a3 {
    position: absolute;
    padding: 0 15px 0 75px;
    animation-name: D;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes D {
    0% {
      transform: translateY(0%)
    }
    41% {
      transform: translateY(-100%)
    }
    51% {
      transform: translateY(0%)
    }
    56% {
      transform: translateY(-40%)
    }
    61% {
      transform: translateY(-20%)
    }
    76% {
      transform: translateY(0%)
    }
  }
  
  #a4 {
    position: absolute;
    padding: 0 15px 0 100px;
    animation-name: I;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes I {
    0% {
      transform: translateY(0%)
    }
    42% {
      transform: translateY(-100%)
    }
    52% {
      transform: translateY(0%)
    }
    57% {
      transform: translateY(-40%)
    }
    62% {
      transform: translateY(-20%)
    }
    77% {
      transform: translateY(0%)
    }
  }
  
  #a5 {
    position: absolute;
    padding: 0 15px 0 115px;
    animation-name: N;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes N {
    0% {
      transform: translateY(0%)
    }
    43% {
      transform: translateY(-100%)
    }
    53% {
      transform: translateY(0%)
    }
    58% {
      transform: translateY(-40%)
    }
    63% {
      transform: translateY(-20%)
    }
    78% {
      transform: translateY(0%)
    }
  }
  
  #a6 {
    position: absolute;
    padding: 0 15px 0 140px;
    animation-name: G;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes G {
    0% {
      transform: translateY(0%)
    }
    44% {
      transform: translateY(-100%)
    }
    54% {
      transform: translateY(0%)
    }
    59% {
      transform: translateY(-40%)
    }
    64% {
      transform: translateY(-20%)
    }
    79% {
      transform: translateY(0%)
    }
  }
  
  /*---------------------------------------------------------*/
  
  /*center all relatively, make background black and set font family respectively*/
  
  body {
    position: absolute;
    overflow:hidden;
    font-family: 'Dosis', sans-serif;
    line-height: 26px;
    background-color: #000000;
    margin-top: 35vh;
    margin-left: 44vw;
  }
  
  
  /*style inputs and animation information on focus*/
  
  .inputs,
  textarea {
    position: static;
    color: #000000;
    height: 30px;
    font-family: 'Dosis', sans-serif;
    outline: none;
    font-size: 20px;
    text-align: center;
    width: 120px;
    z-index: 100;
    background-color: #000000;
    border: solid 1px #ffea00;
    ;
    transition: box-shadow 1.5s, border 1s, margin-left 1s, width 1s, text-align 1s, height 1s, font-size 1.5s, color 1s;
  }
  
  .inputs:focus,
  .inputs.focus {
    font-size: 16px;
    height: 60px;
    color: black;
    text-align: center;
    width: 500px;
    margin-left: -140px;
    box-shadow: inset 200px 200px 200px 0 #ffea00;
    border: solid 10px #000000;
  }
  
  
  /*color login, position and apply font to button*/
  
  .login {
    position: static;
    outline: none;
    height: 60px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    float: centre;
    text-align: centre;
    posistion: absolute;
    color: #ffea00;
    border: 1px solid black;
    background-color: #000000;
    margin-left: -13px;    
    margin-top: 10px;
  }
  
  
  /*color sign-up, position and apply font to button*/
  
  .sign_up {
    position: static;
    outline: none;
    margin-top: -10px;
    height: 50px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    float: centre;
    /*float centre keeps the input feilds above the buttons, found through http://learn.shayhowe.com/advanced-html-css/detailed-css-positioning*/
    text-align: centre;
    color: #ffea00;
    border: 1px solid black;
    background-color: #000000;
    margin-left: -15px;

  }
  
  
  /*style placeholder text in input forms*/
  
  ::-webkit-input-placeholder {
    color: #ffea00;
    font-family: 'Dosis', sans-serif;
  }
  
  ::-moz-placeholder {
    color: #ffea00;
    font-family: 'Dosis', sans-serif;
  }
  
  :-ms-input-placeholder {
    color: #ffea00;
    font-family: 'Dosis', sans-serif;
  }
  
  input:-moz-placeholder {
    color: #ffea00;
    font-family: 'Dosis', sans-serif;
  }
  
  
  /*----------------TABLE SETUP START-------------------*/
  
  
  /*opra,chroma, e.c.t.*/
  
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  
  
  
  
  /*-----------------WELCOME TITLE------------------*/
  
  
  /*colour and animation information for tittle*/
  
  .welcome {
    position: static;
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
    font-size: 20px;
    color: #ffea00;
    margin-top: 0vh;
    margin-left: -130px;
    animation-timing-function: ease-in-out;
    animation-name: moving;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .logotitle {
    font-size: 50px;
    padding-bottom: 20px;
    font-family: 'Ruda', sans-serif;

  }
  
  #overflow {
    font-family: 'Chakra Petch', sans-serif;
    font-style: italic;
  }
  
  /*animation for title*/
  
  @keyframes moving {
    from {
      transform: translateY(0vh);
    }
    to {
      transform: translateY(-30vh);
    }
  }
  
  @keyframes movingBack {
    from {
      transform: translateY(-30vh);
    }
    to {
      transform: translateY(0vh);
    }
  }
  
  /*animation information for everything on 'first page'*/
  
  .run {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
    animation-name: moving;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
  }
  
  
  /*when active, start animation*/
  
  .run.active {
    -webkit-animation-play-state: running;
    /* Chrome, Safari, Opera */
    animation-play-state: running;
  }
  
  .run.back {
    -webkit-animation-play-state: running;
    /* Chrome, Safari, Opera */
    animation-play-state: running;
    /*-webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    /*animation-play-state: paused;*/
    animation-timing-function: ease-in-out;
    animation-name: movingBack;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
  }
  
  /*when stopped, pause*/
  
  .run.stop {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  .run.empty{} /*IE render bugfix*/
  
  /*(2nd page) sign up page color and format for title text*/
  
  .signuptitle {
    position: static;
    font-size: 50px;
    padding-bottom: 20px;
    font-family: 'Ruda', sans-serif;
    color: #ffea00;
    margin-top: 0vh;
    margin-left: -125px;
  }
  
  
  /*(2nd page) sign up page color and format for everything else except the back button*/
  
  .sign_upS {
    position: static;
    outline: none;
    margin-top: 10px;
    height: 50px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    float: center;
    text-align: center;
    color: #ffea00;
    border: 1px solid black;
    background-color: #000000;
    margin-left: -30px;
  }
  
  
  /*(2nd page) sign up page color and format for the back button*/
  
  .Back {
    position: static;
    outline: none;
    margin-top: 0px;
    height: 50px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    float: center;
    text-align: center;
    color: #ffea00;
    border: 1px solid black;
    background-color: #000000;
    margin-left: 8px;
  }
 