body, h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: #6fffe9;
    background-color: #0B132B;
    text-align: center;

}
p {
    color: #3A506B
}

.p-body {
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
    border-style: solid;
    border-color: white;
    border-width: .75px;
}

.column {
    float: left;
    width: 50%;

}


.card-title {
    color: #5BC0BE;
}

.card-text {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.u-body {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.wireframe {
    margin: 50px;
}
img {
    height: 200px;
}